## ch2-exercises-id.ipynb

## Q1.
> 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

- 과목	점수
- 국어	80
- 영어	75
- 수학	55

In [92]:
# [Q1] Code 국어,영어,수학 점수를 각각의 변수에 대입을 하고 세과목의 합을 변수에 대입을 한다음 해당 변수에 3으로 나눈 몫을 새로운 변수로 지정한다.
kor = 80
eng = 75
math = 55
do = kor + eng + math
dic = do/3
print(dic)

70.0

## Q2.
> 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

1. 판별 기준
2. 코드

In [64]:
# [Q2] Code
a = 13
if a % 2 == 1:
    print('짝수')
else:
    print('홀수')
# 1. 판별 기준 : 짝수는 2로 나누면 나머지가 0이되고, 홀수는 2로 나누면 나머지가 1이된다.

짝수

## Q3.
> 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

- 문자열 슬라이싱 기법을 사용해 보자.

In [6]:
# [Q3] Code
a = '881120-1068234'
print(a[0:6])
print(a[7:15])

881120
1068234

## Q4.
> 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

- pin = "881120-1068234"
- ※ 문자열 인덱싱 또는 내장함수를 사용해 보자.
- 문자열포맷팅을 이용해서 성별을 출력하시오.

In [98]:
# [Q4] Code
pin = "881120-1068234"
print(pin[7])
Gender = 1
f"pin = 881120-{Gender}068234"
print(Gender)

1
1

## Q5.
> 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

- a = "a:b:c:d"

In [13]:
# [Q5] Code
a = "a:b:c:d"
a.replace("a:b:c:d" , "a#b#c#d#")

'a#b#c#d#'

## Q6.
> \[1, 3, 5, 4, 2\] 리스트를 \[5, 4, 3, 2, 1\]로 만들어 보자.

- ※ 리스트의 내장 함수를 사용해 보자.

In [19]:
# [Q6] Code a를 우선 sort 를 이용해 정렬을 해주고 reverse를 이용하여 뒤집는다. 
a = [1, 3, 5, 4, 2]
a.sort()
print(a)
a.reverse()
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

## Q7.
> \['Life', 'is', 'too', 'short'\] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

- ※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.

In [28]:
# [Q7] Code
",".join(['Life', 'is', 'too', 'short'])

'Life,is,too,short'

## Q8.
> (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

- ※ 더하기(+) 또는 다른 방법들을 사용해 보자.

In [36]:
# [Q8] Code
t1 = (1,2,3)
t2 = (4,)
t1 + t2

(1, 2, 3, 4)

## Q9.
> 다음과 같은 딕셔너리 a가 있다.

>> a = dict()  
>> a  
{}

- 다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

1. a\['name'\] = 'python'
2. a\[('a',)\] = 'python'
3. a\[\[1\]\] = 'python'
4. a\[250\] = 'python'

In [117]:
# [Q9] Code & explanation  1번과 3번이 오류가 발생한다. 
# a =dict{'name':'python'}
딕셔너리의 key 값에는 변하지 않는 값이 들어가고 value 값은 변하는값,변하지 않는 값 둘다 들어가도 상관없다. 1번과 3번의 경우 ['name'] , [1] 인데 둘다 가변형 데이터타입인 list 이므로 오류가 발생한다.
반대로 2번과 4번은 각각 (,) tuple 구조와 정수구조 이므로 변하지 않는다.

SyntaxError: invalid syntax (<ipython-input-117-51586d6e9941>, line 3)

## Q10.
> 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
>> a = {'A':90, 'B':80, 'C':70}

- ※ 딕셔너리의 pop 함수를 사용해 보자.

In [110]:
# [Q10] Code a.pop()에 value 의 key값인 'B'를 대입 
a = {'A':90, 'B':80, 'C':70}
a.pop('B')

80

## Q11.
> a 리스트에서 중복 숫자를 제거해 보자.
>> a = \[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5\]

- ※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.

In [50]:
# [Q11] Code
a = set([1,1,1,2,2,3,3,3,4,4,5])
a

{1, 2, 3, 4, 5}

## Q12.
> 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

>> a = b = \[1, 2, 3\]  
>> a\[1\] = 4  
>> print(b)

In [0]:
# [Q12] Code & explanation
print(b) 값은 [1,4,3] 을 갖게된다. 그 이유는 a = b 에서 b의 모든 데이터값이 a로 전달되어 a와b는 서로 같은 주소를 공유하게 되고 같은 값을 가지게 된다. 그러므로 print(a) = [1,4,3] 이므로 print(b) = [1,4,3]이다.

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. **github repo의 ch2 폴더에 연습문제 풀이 노트를 올리시오.**
        - 제출노트: ch2-exercises-id.ipynb