# ch8_exercises.ipynb

Q1. 문자열 바꾸기
> 다음과 같은 문자열이 있다.

```
a:b:c:d
```

> 문자열의 split와 join 함수를 사용하여 위 문자열을 다음과 같이 고치시오.

```
a#b#c#d
```

In [ ]:
# [Q1] Code-1 
a = "a:b:c:d"
b = a.split(":")
c ="#".join(b)
print(c)

a#b#c#d

In [ ]:
# [Q1] Code-2 replace 함수 사용
a = "a:b:c:d"
a.replace(":","#")

'a#b#c#d'

## Q2. 딕셔너리 값 추출하기
> 다음은 딕셔너리의 a에서 'C'라는 key에 해당하는 value를 출력하는 프로그램이다.
```
>>> a = {'A':90, 'B':80}
>>> a['C']
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 'C'
```
>> a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생한다.  
>>'C'에 해당하는 key 값이 없을 경우 오류 대신 70을 얻을 수 있도록 수정하시오.

In [ ]:
# [Q2] Code-1
a = {'A':90, 'B':80}
a.get("C",70)        # C 값이 없기 때문에 지정한 디폴트 값인 70을 출력

70

In [ ]:
# [Q2] Code-2
a = {'A':90, 'B':80}
a['C'] = 70          # 딕셔너리 a에 'C':70 추가
a['C']

70

## Q3. 리스트의 더하기와 extend 함수
> 다음과 같은 리스트 a가 있다.
```
a = [1, 2, 3]
```
> 리스트 a에 [4, 5]를 + 기호를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a = a + [4,5]
>>> a
[1, 2, 3, 4, 5]
```
> 리스트 a에 [4,5]를 extend를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a.extend([4, 5])
>>> a
[1, 2, 3, 4, 5]
```

> ### + 기호를 사용하여 더한 것과 extend한 것의 차이점이 있을까? 있다면 그 차이점을 설명하시오.

In [ ]:
# [Q3] Explain (코드와 주석으로 설명하시오)
a = [1, 2, 3]
print(id(a))
a = a + [4,5]
print(id(a))
# 리스트 a에 + 기호를 사용하여 더했을 경우 
# 이전의 리스트 a가 저장되어 있던 주소와 다른 값을 돌려준다.

b = [1, 2, 3]
print(id(b))
b.extend([4,5])
print(id(b))
# 그에 비해 리스트 a에 extend 함수를 이용하였을 경우 +기호를 이용
# 하였을 때와 달리 주소값이 같은 것을 알수있다.

140373778352904
140373776846728
140373778352904
140373778352904

## Q4. 리스트 총합 구하기
> 다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상 점수의 총합을 구하시오.
```
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
```

In [ ]:
# [Q4] Code-1
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
result = 0
for i in A:
  if i >50:
    result += i

print(result)

[]
481

In [ ]:
# [Q4] Code-2
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
result = 0

while A:              # A 리스트 안에 값이 있으면
    number = A.pop()   # 마지막 항목을 출력 하고 사라지게 한다
    if number >= 50:   # 숫자가 50 이상 일 때 값들을 다 더해줌
        result += number
print(result)

481

## Q5. 피보나치 함수
> 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후에 이어지는 항은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.
```
0, 1, 1, 2, 3, 5, 8, 13, 21, ...
```
> 입력을 정수 n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.

In [ ]:
# [Q5] Code-1
num = int(input("피보나치 수열의 최댓값을 입력하세요.:"))
result = 0   # 출력되는 결과
two = 1      # 두번째 숫자

if num > 0:  # 입력받은 값이 0보면 클 경우
 while result <= num:                   # result의 값이 num과 같아 질때 까지 반복
    print(result ,end = " ")            # 현재 result의 값 출력(첫번째일때는 0)
    one = result                        # 가장최근에 출력된 첫번째 result를 one에 대입
    result = two                        # result의 값을 while문이 돌기전 two의 값으로 교체(첫번째일떄는 1)
    two = one + two                     # two에 첫번째 숫자와 두번째 숫자를 더한 값을 대입
else:
    print("호완되는 숫자가 아닙니다.")

피보나치 수열의 최댓값을 입력하세요.:12
0 1 1 2 3 5 8

In [ ]:
# [Q5] Code-2
b=0
a = int(input("n번째 숫자만큼의 입력하세요.:"))
def fibo(num):
    if num == 0: return 0             # num이 0일때 0 리턴
    if num == 1: return 1             # num이 1일때 1리턴
    return fibo(num-2) + fibo(num-1)  # num이 2이상일 경우 fibo(num-2)과 fibo(num-1)을 반환하여 더함

for i in range(a):
    print(fibo(i), end = " ")

n번째 숫자만큼의 입력하세요.:12
0 1 1 2 3 5 8 13 21 34 55 89

## Q6. 숫자의 총합 구하기
> 사용자로부터 다음과 같은 숫자를 입력받아 입력받은 숫자의 총합을 구하는 프로그램을 작성하시오. (단 숫자는 콤마로 구분하여 입력한다.)

```
65,45,2,3,45,8
```

In [ ]:
# [Q6] Code-1
user_input = input("숫자를 입력하시오")
num = user_input.split(",")
total = 0
for number in num:
  total += int(number)

print(total)

계산할 숫자들을 입력하세요.:65,45,2,3,45,8
168

In [ ]:
# [Q6] Code-2
comma_numbers = (input("계산할 숫자들을 입력하세요.:"))
numbers = map(int, comma_numbers.split(","))
def Sum(numbers,result=0):
  for num in numbers:
    result += int(num)
  return result
  
print(Sum(numbers))

계산할 숫자들을 입력하세요.:65,45,2,3,45,8
168

## Q7. 한 줄 구구단
> 사용자로부터 2~9의 숫자 중 하나를 입력받아 해당 숫자의 구구단을 한 줄로 출력하는 프로그램을 작성하시오.

> 실행 예)
```
구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18
```

In [ ]:
# [Q7] Code-1
user_input = input("2~9 숫자중 하나를 입력하시오")
GuGu0 = int(user_input)
for i in range(1,10):
  print(GuGu0*i, end=" ")

2단에서 9단까지의 구구단중 하나를 입력해주세요.:9
9 18 27 36 45 54 63 72 81

In [ ]:
# [Q7] Code-2
user_input = input("2~9 숫자중 하나를 입력하시오")
GuGu0 = int(user_input)
a = 1
while (a<10):
  print(GuGu0*a, end=" ")
  a += 1

2단에서 9단까지의 구구단중 하나를 입력해주세요.:9
[9, 18, 27, 36, 45, 54, 63, 72, 81]

## Q8. 역순 저장
> 다음과 같은 내용의 파일 abc.txt가 있다.
```
AAA
BBB
CCC
DDD
EEE
```
> 이 파일의 내용을 다음과 같이 역순으로 바꾸어 저장하시오.
```
EEE
DDD
CCC
BBB
AAA
```

In [ ]:
# [Q8] Code-1
f = open('abc.txt','r')    # 읽기 모드
eng = f.readlines()        # txt내의 모든 줄을 읽음
f.close()

for eng in reversed(open("abc.txt").readlines()):   # txt내의 모든 줄을 읽은 뒤 순서를 반대로 돌림
    print(eng.strip())

EEE
DDD
CCC
BBB
AAA

In [ ]:
# [Q8] Code-2
f = open('abc.txt', 'r')
lines = f.readlines()    # 모든 라인을 읽음
f.close()

lines.reverse()          # 읽은 라인을 역순으로 정렬

f = open('abc.txt', 'w')
for line in lines:
    line = line.strip()  # 포함되어 있는 줄 바꿈 문자 제거
    f.write(line)
    f.write('\n')        # 줄 바꿈 문자 삽입
f.close()

In [ ]:
f = open("abc.txt",'r')
alleng = f.read()
print(alleng)
f.close()

EEE
DDD
CCC
BBB
AAA

## Q9. 평균값 구하기
> 다음과 같이 총 10줄로 이루어진 sample.txt 파일이 있다. sample.txt 파일의 숫자 값을 모두 읽어 총합과 평균 값을 구한 후 평균 값을 result.txt 파일에 쓰는 프로그램을 작성하시오.
```
70
60
55
75
95
90
80
80
85
100
```

In [ ]:
# [Q9] Code-1
f = open("sample.txt")
grade = f.readlines( )         # sample.txt를 줄 단위로 lines에 저장
f.close( )
Sum = 0

for num in grade:
    score = int(num)          # 줄에 적힌 숫자를 정수단위로 변환
    Sum += score
average = Sum / len(grade)
print(Sum)

f = open("result.txt", "w")
f.write(str(average))          # 숫자는 txt에 바로 쓸 수 없기 때문에 문자형으로 변환
f.close()

f = open("result.txt","r")
grade_average = f.read()
print(grade_average)
f.close()

790
79.0

In [ ]:
# [Q9] Code-2
f = open("sample.txt",'r')
grade = f.readlines()
grade = list(map(int, grade))

Sum = sum(grade)
average = Sum/len(grade)
print("총합: %d"%Sum)

f = open("result.txt", "w")
f.write(str(average))          # 숫자는 txt에 바로 쓸 수 없기 때문에 문자형으로 변환
f.close()

f = open("result.txt","r")
average = f.read()
print("평균:",average)
f.close()

79.0

In [ ]:
# [Q9] Code-3
f = open("sample.txt",'r')
grade = f.readlines()
grade = list(map(int, grade))

Sum = sum(grade)
average = Sum/len(grade)
print("총합: %d"%Sum)

f = open("result.txt", "w")
f.write(str(average))          # 숫자는 txt에 바로 쓸 수 없기 때문에 문자형으로 변환
f.close()

f = open("result.txt","r")
average = f.read()
print("평균:",average)
f.close()

총합: 790
평균: 79.0

## Q10. 사칙연산 계산기
> 다음과 같이 동작하는 클래스 Calculator를 작성하시오.
```
>>> cal1 = Calculator([1,2,3,4,5])
>>> cal1.sum() # 합계
15
>>> cal1.avg() # 평균
3.0
>>> cal2 = Calculator([6,7,8,9,10])
>>> cal2.sum() # 합계
40
>>> cal2.avg() # 평균
8.0
```

In [ ]:
# [Q10] Code-1
class Calculator:
    def __init__ (self, number): 
        self.number = number
        
    def add(self):  # 합계
        result = 0
        for num in self.number: 
            result += num
        return result

    def avg(self):   # 평균
        total = self.add()
        return total / len(self.number)



cal1 = Average_Calculator([1,2,3,4,5]) 
print (cal1.add())
print (cal1.avg())

cal2 = Average_Calculator([6,7,8,9,10]) 
print (cal2.add())
print (cal2.avg())

15
3.0
40
8.0

In [ ]:
# [Q10] Code-2
class Calculator:
    def __init__ (self, number): 
        self.number = number
        
    def add(self):  # 합계
        result = 0
        for num in self.number: 
            result += num
        return result

class Average_Calculator(Calculator):
    def avg(self):   # 평균
        total = self.add()
        return total / len(self.number)



cal1 = Average_Calculator([1,2,3,4,5]) 
print (cal1.add())
print (cal1.avg())

cal2 = Average_Calculator([6,7,8,9,10]) 
print (cal2.add())
print (cal2.avg())

15
3.0
40
8.0



---

## Q11. 모듈 사용 방법
> ./doit 디렉터리에 mymod.py 파이썬 모듈이 있다고 가정해 보자. 명령 프롬프트 창에서 파이썬 셸을 열어 이 모듈을 import해서 사용할 수 있는 방법을 모두 기술하시오. (즉 다음과 같이 import mymod를 수행할 때 오류가 없어야 한다.)
```
>>> import mymod
>>>
```

In [ ]:
!mkdir doit
# 실행 후 새로 고침!
# mymod.py 를 업로드한다.

mkdir: cannot create directory ‘doit’: File exists

In [ ]:
!mv mymod.py ./doit
# 실행 후 새로 고침!

mv: cannot stat 'mymod.py': No such file or directory

In [ ]:
# [Q11] Code-1
from doit import mymod

In [ ]:
# [Q11] Code-2
import sys
sys.path.append("C:/doit")
import mymod

In [ ]:
# [Q11] Code-3
import os
os.chdir("doit") # 디렉터리 이동

In [ ]:
os.getcwd()
import mymod

## Q12. 오류와 예외 처리
> 다음 코드의 실행 결과를 예측하고 그 이유에 대해 설명하시오.

```
result = 0

try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4

print(result)
```

In [ ]:
# [Q12] Explain (코드와 주석으로 설명하시오)
result = 0                  # result를 0으로 초기화
 
try:
    [1, 2, 3][3]            # [1,2,3][3]을 실행시 IndexError가 발생한다.
    "a"+1                   # except IndexError:코드의 result += 3 을 실행하고 최종적으로
    4 / 0                   # finally:구문에서 result += 4를 실행하므로 최종적으로 7이 출력되게 된다.
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4
 
print(result)

7

## Q13. DashInsert 함수
> DashInsert 함수는 숫자로 구성된 문자열을 입력받은 뒤 문자열 안에서 홀수가 연속되면 두 수 사이에 - 를 추가하고, 짝수가 연속되면 * 를 추가하는 기능을 갖고 있다. DashInsert 함수를 완성하시오.
```
입력 예시: 4546793
출력 예시: 454*67-9-3
```

In [ ]:
# [Q13] Code-1
user_input = input("숫자를 입력하세요.")
numbers = list(map(int, user_input))   # 숫자 문자열을 숫자 리스트로 변경
result = []

for i, num in enumerate(numbers):   # i:0 num:4
    result.append(str(num))         # result에 숫자 추가
    if i < len(numbers)-1:                   # 다음 수가 있다면
        is_odd = num % 2 == 1                # 현재 수가 홀수
        is_next_odd = numbers[i+1] % 2 == 1  # 다음 수가 홀수
        if is_odd and is_next_odd:           # 연속 홀수
            result.append("-")
        elif not is_odd and not is_next_odd: # 연속 짝수
            result.append("*")

print("".join(result))

숫자를 입력하세요.4546793
454*67-9-3

In [ ]:
# [Q13] Code-2
user_input = input("숫자를 입력하세요.")
listnumbers = list(map(int, user_input))   # 숫자 문자열을 숫자 리스트로 변경
result = []
def time_table(numbers):
  for i, num in enumerate(numbers):   # i:0 num:4
    result.append(str(num))         # result에 숫자 추가
    if i < len(numbers)-1:                   # 다음 수가 있다면
        is_odd = num % 2 == 1                # 현재 수가 홀수
        is_next_odd = numbers[i+1] % 2 == 1  # 다음 수가 홀수
        if is_odd and is_next_odd:           # 연속 홀수
            result.append("-")
        elif not is_odd and not is_next_odd: # 연속 짝수
            result.append("*")

time_table(listnumbers)
print("".join(result))

숫자를 입력하세요.4546793
454*67-9-3

## Q14. 문자열 압축하기
> 문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하시오.
```
입력 예시: aaabbcccccca
출력 예시: a3b2c6a1
```

In [ ]:
# [Q14] Code-1
user_input = input("문자열을 입력하세요.:")
def string(s):
    _c = ""
    cnt = 0
    result = ""
    for c in s:
        if c!=_c:                        # 처음 들어온 문자일경우
            _c = c
            if cnt: result += str(cnt)   
            result += c                   
            cnt = 1                      # 카운트를 1로 초기화
        else: cnt +=1                    # 한번 들어왔던 문자일 경우 카운트
    if cnt: result += str(cnt)           
    return result

string(user_input)

문자열을 입력하세요.:aaabbcccccca

'a3b2c6a1'

In [ ]:
# [Q14] Code-2
user_input = input("문자열을 입력하세요.:")
def zip(string):
    count = 0   # 문자를 세기 위한 변수
    check = ""   # sentence가 달라지는 곳을 감지하는 수단
    result = "" # 결과를 저장하는 공간
    for i in string:
        if check != i:
            check = i
            if count:
                result += str(count)
            result += i
            count = 1
        else:
            count += 1
    if count:
        result += str(count)
    return result

zip(user_input)

문자열을 입력하세요.:aaabbcccccca

'a3b2c6a1'

## Q15. Duplicate Numbers
> 0 ~ 9의 문자로 된 숫자를 입력받았을 때, 이 입력값이 0 ~ 9의 모든 숫자를 각각 한 번씩만 사용한 것인지 확인하는 함수를 작성하시오.
```
입력 예시: 0123456789 01234 01234567890 6789012345 012322456789
출력 예시: true false false true false
```

In [ ]:
# [Q15] Code-1
def checkNumber(s):
    result = []                  # 리스트 초기화
    for num in s:
        if num not in result:    # 리스트의 값이 중복되는지 조사
            result.append(num)   # 리스트에 num 추가
        else:
            return False         # 아닐 경우 거짓 반환
    return len(result) == 10     # result 리스트내에 문자가 10개 있을 경우 true 반환

print(checkNumber("0123456789"))      
print(checkNumber("01234"))           
print(checkNumber("01234567890"))     
print(checkNumber("6789012345"))      
print(checkNumber("012322456789"))

True
False
False
True
False

In [ ]:
# [Q15] Code-2
input_list = "0123456789 01234 01234567890 6789012345 012322456789"

for input in input_list.split(" "):
    if len(input) != 10 or len(input) != len(set(input)):
        print("False")
    else:
        print("True")

숫자를 입력하세요.:0123456789

True

In [ ]:
# [Q15] Code-3
b = 0
while b<5: # 5번 반복
  b += 1
  a = input("0~9 사이의 숫자로 이루어진 문자열 입력 : ")
  print('true' if len(a) == len(set(a)) == 10  else 'false') # 입력 받은 숫자의 수가 10개인 상태에서
                                                             # a에서 중복하는 숫자를 제외(set(a))
                                                             # 한 a의 개수가 10개일때 true 출력

0~9 사이의 숫자로 이루어진 문자열 입력 : 0123456789
true
0~9 사이의 숫자로 이루어진 문자열 입력 : 01234
false
0~9 사이의 숫자로 이루어진 문자열 입력 : 01234567890
false
0~9 사이의 숫자로 이루어진 문자열 입력 : 6789012345
true
0~9 사이의 숫자로 이루어진 문자열 입력 : 012322456789
false

## Q16. 모스 부호 해독
> 문자열 형식으로 입력받은 모스 부호(dot:. dash:-)를 해독하여 영어 문장으로 출력하는 프로그램을 작성하시오.

- 글자와 글자 사이는 공백 1개, 단어와 단어 사이는 공백 2개로 구분한다.
- 예를 들어 다음 모스 부호는 "HE SLEEPS EARLY"로 해석해야 한다.
```
.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--
```
> 모스부호 규칙 표
```
문자 부호	문자   부호
A	 .-	    N	    -.
B	 -...	O	    ---
C	 -.-.	P	    .--.
D	 -..	Q	    --.-
E	 .	    R	    .-.
F	 ..-.	S	    ...
G	 --.	T	    -
H	 ....	U	    ..-
I	 ..	    V	    ...-
J	 .---	W	    .--
K	 -.-	X	    -..-
L	 .-..	Y	    -.--
M	 --	    Z	    --..
```

In [ ]:
# [Q16] Code-1
dic = {
    '.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F',
    '--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L',
    '--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R',
    '...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X',
    '-.--':'Y','--..':'Z'
}

def mose(src):
    result = []
    for word in src.split("  "):      # "  "을 기준으로 나눔
        for char in word.split(" "):  # " "을 기준으로 나눔
            result.append(dic[char])  # 위의 나눈 문자열을 dic에 대입 하여 result 리스트에 추가
        result.append(" ")            
    return "".join(result)


mose('.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--')

'HE SLEEPS EARLY '

In [ ]:
# [Q16] Code-2
dic = {
    '.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F',
    '--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L',
    '--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R',
    '...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X',
    '-.--':'Y','--..':'Z'
}
mose = '.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'
code = mose.split(' ')

for n in code:
    if n =='':
        print(' ', end="")
    else:
        print(dic[n], end="")

HE SLEEPS EARLY



---

# 다음 정규식 문제는 기말고사 후에 도전해 보세요.

## Regular Expression
- import re

## Q17. 기초 메타 문자
> 다음 중 정규식 a[.]{3,}b과 매치되는 문자열은 무엇일까?


```
acccb
a....b
aaab
a.cccb
```

In [ ]:
# [Q17] Code
import re

p = re.compile("a[.]{3,}b")

print (p.match("acccb"))    # None
print (p.match("a....b"))   # 매치 객체 출력
print (p.match("aaab"))     # None
print (p.match("a.cccb"))   # None

None
<re.Match object; span=(0, 6), match='a....b'>
None
None

## Q18. 문자열 검색
> 다음 코드의 결괏값은 무엇일까?

```
>>> import re
>>> p = re.compile("[a-z]+")
>>> m = p.search("5 python")
>>> m.start() + m.end()
```

In [ ]:
# [Q18] Code
import re

p = re.compile('[a-z]+')
m = p.search("5 python")
print(m.start() + m.end())  # 10 출력

10

## Q19. 그루핑
> 다음과 같은 문자열에서 휴대폰 번호 뒷자리인 숫자 4개를 ####로 바꾸는 프로그램을 정규식을 사용하여 작성하시오.

```
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
```

In [ ]:
# [Q19] Code
pat = re.compile("\d{3}[-]\d{4}[-]\d{4}")
pat = re.compile("(\d{3}[-]\d{4})[-]\d{4}")

import re

s = """
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
"""

pat = re.compile("(\d{3}[-]\d{4})[-]\d{4}")
result = pat.sub("\g<1>-####", s)

print(result)

park 010-9999-####
kim 010-9909-####
lee 010-8789-####

## Q20. 전방 탐색
> 다음은 이메일 주소를 나타내는 정규식이다. 이 정규식은 park@naver.com, kim@daum.net, lee@myhome.co.kr 등과 매치된다. 긍정형 전방 탐색 기법을 사용하여 .com, .net이 아닌 이메일 주소는 제외시키는 정규식을 작성하시오.

```
.*[@].*[.].*$
```

In [ ]:
# [Q20] Code
pat = re.compile(".*[@].*[.](?=com$|net$).*$")

import re

pat = re.compile(".*[@].*[.](?=com$|net$).*$")

print(pat.match("pahkey@gmail.com"))
print(pat.match("kim@daum.net"))
print(pat.match("lee@myhome.co.kr"))

<re.Match object; span=(0, 16), match='pahkey@gmail.com'>
<re.Match object; span=(0, 12), match='kim@daum.net'>
None

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch8_exercises_id.ipynb